@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #DDD;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
}
p{
    font-size: 20px;
}
header {
    background-color: #8B0000; /* Vermelho Escuro */
    color: #FFD700; /* Dourado para o texto */
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #2F4F4F; /* Cinza Escuro */

}

nav {

    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /*background-color: #7e7e7e;*/
    align-items: center;
    margin-top:3%;   
    padding-left: 1%;

}

nav a {
    color: #FFD700; /* Dourado para o texto */
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #5f0d0d;
    border-radius: 5px;
    color: #FFFFFF;
}

h1 h2 {
    font-size: 1.7rem; /* Tamanho da fonte */
    color: #FFD700;/* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

/*Estilos gerais*/
.container {
    display: flex; 
    flex: 1;
    flex-direction: column; 
    align-items: center; /* Centraliza os itens horizontalmente */
    border-radius: 8px; 
    padding: 15px;
    color: #C0C0C0; /* Prata para o texto */
}

.section1 {
    display: none;
    margin-top: 0%;
}

.section1.active {
    margin-top: 0%;
    display: block;
}

.texto-inicio{
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
    background-color: #001F3F;
} 
.questionario {
    background-color: #001F3F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    height: 110px;
    /* max-width: 600px;*/
    text-align: center;
    /*display: none;*/
    opacity: 0;
    transform: translateY(30px);  /* Deslocado para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease;  /* Transição suave */
}
.questionario.visible{
    opacity: 1;
    transform: translateY(0);
}
.questionario-botoes{
    display: flex;
    flex-direction: column;
}

.pergunta {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(30px);  /* Deslocado para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease;  /* Transição suave */
}

.pergunta.visible {
    opacity: 1;
    transform: translateY(0);
}

button {   
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    border: none;
    background-color: #a1112e; /* Vermelho Sangue */
    color: #FFFFFF; /* Branco para o texto */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
button a{
    text-decoration: none;
    color:#fff
}
button:hover {
    background-color: #FF4500; /* Laranja Incandescente no hover */
    transform: scale(1.02);
}

.resultado {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: #4CAF50;
    opacity: 0;
    transition: opacity 0.8s;
    }
    
.resultado.visible {
    opacity: 1;
}
.flex-layout {
    display: flex;
    margin: 4% 0;
    align-items: center;
}
    
.classe-img {
    /*width: 172px;*/ 
    height: 237px;
    object-fit: cover;
    border-radius: 5%;
    margin-right: 50%;
}

.left-img .classe-img {
    order: 0; /* Garantir que a imagem fique à esquerda */
}

.classe-text {
    flex: 1;
    text-align: left;
}

.classe-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#progressBarContainer {
    width: 100%;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: #5f0d0d;
    border-radius: 5px;
    transition: width 0.5s;
}

.linkers-informacoes{
    text-decoration: none;
    color: #FFD700;
}


footer {
    background-color: #000000; /* Preto */
    color: #FFD700; /* Dourado para o texto */
    text-align: center;
    padding: 10px;
    border-top: 2px solid #8B4513; /* Marrom Terra */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */

}
footer a{
    text-decoration: none;
    color: #FFD700;
}




/*Esconde o menu padrão em telas pequenas
@media (max-width: 768px) {
.menu {
    display: none;
}
.menu-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}
.menu-toggle .hamburger,
.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    position: relative;
    transition: all 0.3s;
}
.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    content: '';
    position: absolute;
}
.menu-toggle .hamburger::before {
    top: -8px;
}
.menu-toggle .hamburger::after {
    top: 8px;
}
}

//    Mostra o menu quando ativo
.menu.active {
display: block;
position: absolute;
background-color: #333;
width: 100%;
left: 0;
top: 50px;
}

.menu.active li {
display: block;
margin: 10px 0;
}*/